body {
  background-image: url("http://www.vectorfree.com/media/vectors/medical-symbol.jpg");
  background-size: cover;
  font-family: 'Palanquin Dark', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.practiceColumn {
  width: 25%;
  float: left;
}
